<!-- embeding the partial head.ejs in head-->
<!-- the hyphen tells the ejs to render raw html -->
<!-- partials: to reuse the same code multiple times, like modules-->
<%- include('./partials/head.ejs'); %> 
 
<header>
    <!-- src: https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
    <section>
        <h1>Showing results for '<%= artistName %>' </h1>

        <!-- for each album it now renders the image source and the album name in an article -->
        <!-- href: change of path when clicking on an album, gives album name within url -->
        <% albums.forEach(function(album) { %>
            <article>
                
                <a href="/details/<%= album.name%>">
                    <img src="<%= album.image[3]['#text'] %>" alt="">
                    <h2><%= album.name %></h2>
                </a>
            </article>

        <% }); %>
    </section>
</main>

<%- include('./partials/footer.ejs'); %>
