<%- include('./partials/head.ejs'); %>   
<header>
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
    <section class="Albuminfo">
        <a href="/results/?ArtistKeyword=<%= artist %>&submit=">Back</a>
        <h1> <%= artist %> - <%= albumName %></h1>
        <div>
            <img src=" <%= img %>" alt="album cover <%= albumName %>">
            <p>Listeners: <%= listeners %></p>
            <p>Playcount: <%= playcount %> </p>
            <p><%= wiki %> <a href="<%= aHref %>"><%= linkTxt %></a></p>
        </div>
        <div>
            <h2>Tracks</h2>
            <ul>
                <% tracks.forEach(function(track) { %>
                    <li>
                        <%= track.name %>
                    </li>
        
                <% }); %>
            </ul>
        </div>
    </section>
</main>

<%- include('./partials/footer.ejs'); %>
