<!DOCTYPE html>
<html lang="en">
<head>
    <!-- embeding the partial head.ejs in head-->
    <!-- the hyphen tells the ejs to render raw html -->
    <%- include('./partials/head.ejs'); %> 
</head>
<body>
    
<header>
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
    <section class="Albuminfo">
        <h1> <%= artist %> - <%= albumName %></h1>
        <div>
            <img src=" <%= img %>" alt="">
            <p>Listeners: <%= listeners %></p>
            <p>Playcount: <%= playcount %> </p>
            <p><%= wiki %> </p>
        </div>
        <div>
            <h2>Tracks</h2>
            <ul>
                <% tracks.forEach(function(track) { %>
                    <li>
                        <%= track.name %>
                    </li>
        
                <% }); %>
            </ul>
        </div>
    </section>
</main>

<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>